In [113]:
import pandas as pd

In [89]:
df = pd.read_csv("https://raw.githubusercontent.com/WidhyaOrg/datasets/master/movie_dataset.csv")

In [90]:
df.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [91]:
df["tagline"].iloc[14]

'You will believe that a man can fly.'

In [92]:
df_features = df[["keywords", "cast", "genres", "director"]]
df_features.head()

                                            keywords  ...           director
0  culture clash future space war space colony so...  ...      James Cameron
1  ocean drug abuse exotic island east india trad...  ...     Gore Verbinski
2         spy based on novel secret agent sequel mi6  ...         Sam Mendes
3  dc comics crime fighter terrorist secret ident...  ...  Christopher Nolan
4  based on novel mars medallion space travel pri...  ...     Andrew Stanton

[5 rows x 4 columns]

In [93]:
df_features.isnull().sum()

keywords    412
cast         43
genres       28
director     30
dtype: int64

In [94]:
df_clean = df_features.fillna("")

In [95]:
df_clean.isnull().sum()

keywords    0
cast        0
genres      0
director    0
dtype: int64

In [96]:
df_clean["combined_feature"] = df_clean["keywords"] + " " + df_clean["cast"] + " " + df_clean["genres"] + " " + df_clean["director"]

In [97]:
df_clean.head()

                                            keywords  ...                                   combined_feature
0  culture clash future space war space colony so...  ...  culture clash future space war space colony so...
1  ocean drug abuse exotic island east india trad...  ...  ocean drug abuse exotic island east india trad...
2         spy based on novel secret agent sequel mi6  ...  spy based on novel secret agent sequel mi6 Dan...
3  dc comics crime fighter terrorist secret ident...  ...  dc comics crime fighter terrorist secret ident...
4  based on novel mars medallion space travel pri...  ...  based on novel mars medallion space travel pri...

[5 rows x 5 columns]

In [98]:
df_clean["combined_feature"].iloc[20]

'loss of father vigilante serum marvel comic scientific experiment Andrew Garfield Emma Stone Rhys Ifans Denis Leary Campbell Scott Action Adventure Fantasy Marc Webb'

In [99]:
from sklearn.feature_extraction.text import CountVectorizer

In [100]:
vectorizer = CountVectorizer()
Matrix = vectorizer.fit_transform(df_clean["combined_feature"])

In [101]:
from sklearn.metrics.pairwise import cosine_similarity

In [102]:
similarity = cosine_similarity(Matrix)

In [103]:
similarity

array([[1.        , 0.10540926, 0.12038585, ..., 0.        , 0.        ,
        0.        ],
       [0.10540926, 1.        , 0.0761387 , ..., 0.03651484, 0.        ,
        0.        ],
       [0.12038585, 0.0761387 , 1.        , ..., 0.        , 0.11145564,
        0.        ],
       ...,
       [0.        , 0.03651484, 0.        , ..., 1.        , 0.        ,
        0.04264014],
       [0.        , 0.        , 0.11145564, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.04264014, 0.        ,
        1.        ]])

In [104]:
def index_from_title(title):
  return df["index"].loc[df["title"] == title]

index_from_title("Spectre")

2    2
Name: index, dtype: int64

In [105]:
def title_from_index(index):
  return df["title"].loc[df["index"] == index]

title_from_index(4)

4    John Carter
Name: title, dtype: object

In [106]:
movie_similarity = similarity[index_from_title("Avatar")]

In [107]:
import numpy as np

In [108]:
movie_similarity = movie_similarity.flatten()
movie_similarity

array([1.        , 0.10540926, 0.12038585, ..., 0.        , 0.        ,
       0.        ])

In [109]:
df_similar = pd.DataFrame(df["title"])
df_similar["similarity"] = movie_similarity
df_similar.head()

                                      title  similarity
0                                    Avatar    1.000000
1  Pirates of the Caribbean: At World's End    0.105409
2                                   Spectre    0.120386
3                     The Dark Knight Rises    0.037743
4                               John Carter    0.230940

In [110]:
df_similar.sort_values(by = "similarity", inplace = True, ascending = False)
df_similar.head()

                                title  similarity
0                              Avatar    1.000000
94            Guardians of the Galaxy    0.423390
2403                           Aliens    0.377426
3208  Star Wars: Clone Wars: Volume 1    0.346410
47            Star Trek Into Darkness    0.344265

In [111]:
df_similar["title"].iloc[1:6]

94              Guardians of the Galaxy
2403                             Aliens
3208    Star Wars: Clone Wars: Volume 1
47              Star Trek Into Darkness
56                     Star Trek Beyond
Name: title, dtype: object

In [112]:
df_similar["title"].iloc[1:2]

94    Guardians of the Galaxy
Name: title, dtype: object